streamlit==1.22.0
streamlit_option_menu==0.3.13
cryptography==42.0.8
psycopg2-binary==2.9.9
xlsxwriter==3.2.0
python-dotenv==1.0.1
openpyxl==3.0.0
pandas>=1.5.3
SQLAlchemy>=1.4.0
selenium==4.24.0
webdriver-manager==4.0.2
requests==2.26.0
beautifulsoup4==4.12.2
google-auth==2.34.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
streamlit-authenticator==0.2.1
authlib==1.2.0
newspaper3k==0.2.8